@page
@model Nalish.Pages.Admin.AddModel
@{
}
<link rel="stylesheet" href="~/css/Add.css" />
<form method="POST">
    <div class="add_container">
        <div class="add_title">Add Police Information</div>
        <div class="add_content">
            <form class="add_form" action="#">
                <div class="add_user-details">
                    <div class="add_input-box">
                        <span class="add_details">Full Name</span>
                        <input class="add_input" type="text" placeholder="Enter your name" name="name" value="@Model.addInfo.name" required>
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Username</span>
                        <input class="add_input" type="text" placeholder="Enter your username" name="username" value="@Model.addInfo.username" required>
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Email</span>
                        <input class="add_input" type="text" placeholder="Enter your email" name="email" value="@Model.addInfo.email" required>
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Phone Number</span>
                        <input class="add_input" type="text" placeholder="Enter your number" name="phone" value="@Model.addInfo.phone" required>
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Password</span>
                        <input class="add_input" type="text" placeholder="Enter your password" name="password" value="@Model.addInfo.password" required>
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Confirm Password</span>
                        <input class="add_input" type="text" placeholder="Confirm your password" name="con_password" value="@Model.addInfo.conpassword" required>
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Gender</span>
                        <select class="add_input" id="gender" name="gender" value="@Model.addInfo.gender" required>
                            <option value="" disabled selected hidden>Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Select Position</span>
                        <select class="add_input" id="position" name="position" value="@Model.addInfo.position">
                            <option value="" disabled selected hidden>Select Position</option>
                            <option value="volvo">Inspector General</option>
                            <option value="saab">Additional Inspector General</option>
                            <option value="opel">Deputy Inspector General</option>
                            <option value="audi">Additional Deputy Inspector General</option>
                            <option value="audi">Superintendent</option>
                            <option value="audi">Additional Superintendent</option>
                            <option value="audi">Senior Assistant Superintendent</option>
                            <option value="audi">Assistant Superintendent</option>
                        </select>
                    </div>
                </div>
             
                <div class="add_button">
                    <input class="add_input" type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>

</form>