@page
@model Nalish.Pages.Admin.EditModel
@{
}

<link rel="stylesheet" href="~/css/AddPolice.css" />
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type='button' class="btn-close" data-bs-dismiss='alert' aria-label="Close"></button>
    </div>
}
<body>
    <div class="add_container">
        <div class="add_title">Update Police Information</div>
        <div class="add_content">
            <form class="add_form" method="POST">
                <input type="hidden" name="policeid" value="@Model.policeInfo.policeid">
                <div class="add_user-details">
                    <div class="add_input-box">
                        <span class="add_details">Full Name</span>
                        <input class="add_input" type="text" placeholder="Enter your name" name="name" value="@Model.policeInfo.name" >
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Username</span>
                        <input class="add_input" type="text" placeholder="Enter your username" name="username" value="@Model.policeInfo.username" >
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Email</span>
                        <input class="add_input" type="text" placeholder="Enter your email" name="email" value="@Model.policeInfo.email" >
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Phone Number</span>
                        <input class="add_input" type="text" placeholder="Enter your number" name="phone" value="@Model.policeInfo.phone" >
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Password</span>
                        <input class="add_input" type="password" placeholder="Enter your password" name="password" value="@Model.policeInfo.password">
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Confirm Password</span>
                        <input class="add_input" type="password" placeholder="Confirm your password" name="confirm_password" value="@Model.policeInfo.confirm_password" >
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Gender</span>
                        <select class="add_input" id="gender" name="gender" value="@Model.policeInfo.gender" >
                            <option value="" disabled selected hidden>@Model.policeInfo.gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="add_input-box">
                        <span class="add_details">Select Position</span>
                        <select class="add_input" id="position" name="position" value="@Model.policeInfo.position">
                            <option value="" disabled selected hidden>@Model.policeInfo.position</option>
                            <option value="Inspector General">Inspector General</option>
                            <option value="Additional Inspector General">Additional Inspector General</option>
                            <option value="Deputy Inspector General">Deputy Inspector General</option>
                            <option value="Additional Deputy Inspector General">Additional Deputy Inspector General</option>
                            <option value="Superintendent">Superintendent</option>
                            <option value="Additional Superintendent">Additional Superintendent</option>
                            <option value="Senior Assistant Superintendent">Senior Assistant Superintendent</option>
                            <option value="Assistant Superintendent">Assistant Superintendent</option>
                        </select>
                    </div>
                </div>
                @if (Model.successMessage.Length > 0)
                {
                    
                        <div class="row mb-3">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>@Model.successMessage</strong>
                            <button type='button' class="btn-close" data-bs-dismiss='alert' aria-label="Close"></button>
                        </div>
                    </div>
                    
                    
                }
                
                <div class="add_button">
                    <input class="add_input" type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>

</body>
